</div>
<div class="footer-padding">
</div>
  <div class="footer">
    <p>
      Made with ❤️ by Divyansh Khandelwal with the help of Krishna ji and Hanuman ji and Angela Yu
    </p>
  </div>
</div>
</body>
</html>
